/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
MadelineProto.log
test_sess
*.ipc
*.ipc*
*.lightState.*
test_sess.*
*.safe.php
*.safe.php.lock
/public/test_sess
/public/*.ipc
/public/*.ipc*
/public/*.lightState.*
/public/test_sess.*
/public/*.safe.php
/public/*.safe.php.lock
